/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全域樣式 */
* {
  box-sizing: border-box;
}

.all{
  width: 1000px;
  margin: 0 auto;
}

/*header 頁首*/

/*SNS 社群連結*/
.SNS{
  display: flex;
  justify-content: flex-end;
  background-color: #f6f6f6;
}

.SNS li{
  align-items: center;
  border-right: 1px solid #ADADAD;
  margin: 5px 0;
  
}

.SNS a{
 display: block;
 text-align: center;
 text-decoration: none;
 padding: 3px 10px;
}

.SNS a:hover{
  background: #BEBEBE;
  transition: all 0.4s;
}

.fb a {
  color: #4460a0;
}

.twitter a {
  color: #00aaec;
}

/*navber*/
.navbar ,.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
 align-items: center; 
 margin: 20px;
}

.nav a {
 display: block;
 text-align: center;
 text-decoration: none;
 padding: 10px;
 color: #00cc99; 
}

.nav a:hover{
  background: #00cc99;
  color: #fff;
  transition: all 0.5s;
}

/*banner*/
.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
  height: 350px;
  display: flex;
  align-items: center;
}

.banner h2 {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);/*引用來的半透明效果*/
  width: 100%;
  padding: 40px;
  font-size: 36px;
  line-height: 1.4;
  font-weight: bold;
}

/*course-summary 課程介紹*/
.course-summary {
  display: flex;
  justify-content: center;
  
}

.course-summary img {
  width: 280px;
}

.course-list {
  margin: 40px 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 2px 3px #cccccc;  
}

.course-list:hover {
  margin: 40px 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #00cb9b; 
  transition: all 0.4s;
}

.course-summary h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.course-summary p {
  line-height: 20px;
  margin: 10px 15px 20px 15px;
}

.jQuery-features li {
  list-style: disc;
  margin-left: 20px;
}

/*compare 比較表格*/
.compare table {
  width: 85%;
  margin: 0 auto 60px;
}
  
.compare h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px 20px 10px;  
}

.compare-table th {
  font-weight: bold;
  font-size: 18px;
  background: #F5F5F5;
} 

.compare th, .compare td {
  border-top: solid 1px #D3D3D3;
  border-bottom: solid 1px #D3D3D3;
  padding: 12px;
}

.compare tr:hover {
  box-shadow: 0px 0px 10px #00cb9b;
  transition: all 0.4s;
}

.mark {
  color: #00cb9b;
}

/* 表單 */
.customer-info-box {
  padding: 40px 20px;
  background: linear-gradient(#00654c, #009670);
 }

.customer-info-box h3 {
  color: white;
  text-align: center;
  font-size: 25px;
  /*font-weight: bold;*/
  line-height: 1.4;
  margin-bottom: 35px;
}

.customer-info-box form {
  display: flex;
  align-items: center;
}

.customer-info-box textarea {
  width: 440px;
  margin-right: 40px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
  height: 245px;
  resize: none;
  padding: 10px;
}

.customer-info {
  display: flex;
  flex-direction:column;  
}

.customer-info label {
  padding: 5px 0px;
  color: white;
  font-weight: bold;
}

.customer-info input {
  width: 450px;
  padding: 5px;
}

button {
  cursor: pointer; /*增user回饋*/
  margin: 15px 0 5px;
  padding: 5px;
  width: 70px;
  color: #fff;
  background-color: #00cc99;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  align-self: end;
}

button:hover {
  background-color: #00654c;
  box-shadow: 0px 0px 10px #00cb9b;
  
} 

/*頁尾*/
.footer {
  display: flex;  
  justify-content: space-between;
  padding: 20px;
}

.footer img {
 height: 100%;
}

.footer-info li {
  padding: 5px 0;
}

.footer-info a {
  color: red;
  text-align: center;
  text-decoration: none;
}

